* {
	margin: 0;
	padding: 0;
}

@media only screen and (max-width: 750px) {
    .frame {
        width: 100%;
    }

    .save {
        top: 120px;
    }
    
}

@media only screen and (min-width: 750px) {
    .frame {
        width: 60%;
        max-width: 600px;
    }

    .save {
        top: 10px;
    }
    
}

.frame {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    outline: 5px solid #0071E5;
    display: none;
}


#gradBack {
    background: rgb(0,228,255);
    background: radial-gradient(circle, rgba(0,228,255,1) 0%, rgba(0,176,255,1) 100%);
    height: 100%;
}

#mixSpace {
    width: 100%;
    height: fit-content;
    justify-content: center;

}

#mixName {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 5px;
    font-family: sans-serif;
    color: white;
}

header{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    background-color: #0071E5;

}

footer {
    background-color: #0096FF;
    align-items: center;
    height: 120px;
    display: flexbox;
    align-content: center;
}


.shadow {
    width: 100%;
    height: 20px;
    background-color: #0096FF;
}

#title {

    margin-top: 20px;
    margin-bottom: 20px;
}

.resultFrame {
    width: 100%;
    float: left;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 15px;
}

.result {
    margin-left: auto;
    margin-right: auto;

}

selection {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;

}

.save {
    display: none;
    z-index: 1;
    position: fixed;
    right: 10px;
    overflow: scroll;
    -webkit-filter: drop-shadow(0px 15px 3px #00000062);
    filter: drop-shadow(0px 15px 3px #00000062);
}

.dir {
    width: 125px;
    float: left;

}

.horSpa {
    width: 100%;
    height: 100px;
    margin: auto;
}

.midCol {
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content:space-evenly;
}

#flip {
    width: 32px;
    height: 32px;
}

#random{

    width: 32px;
    height: 32px;

}

.sepa {
    width: 100%;
    display: flex;
    justify-content: center
}

.emo {

    width: 100%;
    padding: 2px;
    margin-top: 5px;
}

.result {
    -webkit-filter: drop-shadow(5px 5px 5px #00000062);
    filter: drop-shadow(5px 5px 5px #00000062);
}

.emote {
    -webkit-filter: drop-shadow(5px 5px 5px #0000002f);
    filter: drop-shadow(3px 3px 3px #0000002f);
}

.tappy:hover {
    cursor: url("https://cdn.discordapp.com/emojis/916153366130884630.webp?size=32"), auto;
}

.save:hover {
    cursor: url("https://cdn.discordapp.com/emojis/678230225737351170.webp?size=32"), auto;
}

html{
    cursor: url("https://cdn.discordapp.com/emojis/678182561385676811.webp?size=32"), auto;
}

#credit {
    text-align: left;
    font-weight: bolder;
    font-size: 300%;
    font-family: sans-serif;
    color:#00DBFF;
    padding-left: 5vw;
    padding-top: 32.5px;
    padding-bottom: 32.5px;
    float: left;
    margin: auto;
}

#creditImg {
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5vw;
    border-radius: 10%;
    outline: #00DBFF solid 5px;
}


.historySec {
    height: 120px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-evenly;

    border-top: 5px solid #0071E5;
}

.hispart {
    height: 120px;
    width: calc((100% - 125px)/2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}


.hispart p {
    height: 20px;
    padding-top: 4px;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
}

.spart img {
    justify-self: center;
}

.hisres{
    width: 120px;
}

.horSpace {
    height: 20px;
    width: 100%;
}

#history {
    background: rgb(0,228,255);
    background: linear-gradient(90deg,  rgba(0,176,255,1) 0%,rgba(0,228,255,1) 50%,  rgba(0,176,255,1) 100%);
}

#foundCounter {
    text-align: right;
    padding: 2px;
    padding-right: 10px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

#crown {
    display: none;
    position: absolute ;
    top: 114px;
    pointer-events: none;
}

html {
    background-color: #0096FF;
}